/* index.css */

.logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  #logo {
    width: 100px;
    height: 100px;
  }
  
.container {
    width: 90%;
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    color: #008c7d;
    text-align: center;
    margin-top: 15px;
  }
  
  p {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    background-color: #00b3a1;
    color: #ffff;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #008c7d;
  }
  