<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="logo-container">
    <img id="logo" src="bisleri.jpg">
  </div>
  <div class="header-container">
    <h1>EPR Documents Management System</h1>
    <hr>
  </div>
  <div class="container">
    <h2>Login</h2>
    <form id="loginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <div class="login-options">
        <input type="radio" id="admin" name="login-type" value="admin" checked>
        <label for="admin">Administrator</label>
        <input type="radio" id="producer" name="login-type" value="producer">
        <label for="user">Producer</label>
      </div>
      <div id="puzzle-container">
        <label for="puzzle-answer">Verify you are human:</label>
        <span id="puzzle-calculation"></span>
        <input type="number" id="puzzle-answer" name="puzzle-answer" required>
      </div>
      <input type="submit" value="Login" onclick="return confirmFormSubmission()">
    </form>
  </div>
  <div class="foot-container">
    <h3>Not yet registered on the portal?</h3>
    <input id="signupButton" type="submit" value="Register">
  </div>
  <script src="login.js"></script>
</body>
</html>