<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" href="registration.css">
</head>
<body>
  <div class="logo-container">
    <img id="logo" src="bisleri.jpg">
  </div>
  <div class="header-container">
    <h1>EPR Documents Management System</h1>
    <hr>
  </div>
  <div class="container">
    <h2>Registration</h2>
    <form id="registrationForm" onsubmit="return validateRegistrationForm()">
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" name="fullName" required>

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone" required>

      <div class="login-options">
        <input type="radio" id="admin" name="login-type" value="admin" checked>
        <label for="admin">Administrator</label>
        <input type="radio" id="producer" name="login-type" value="producer">
        <label for="producer">Producer</label>
      </div>

      <!-- Additional fields for Producer option -->
      <div id="producerFieldsContainer" class="hidden">
        <label for="nameoftheenterprise">Name of the Enterprise:</label>
        <input type="text" id="nameoftheenterprise" name="nameoftheenterprise">

        <label for="registrationtype">Registration Type:</label>
        <select id="registrationtype" name="registrationtype">
        <option value="">Select State</option>
        <option value="registered">Registered with CPCB</option>
        <option value="unregistered">Unregistered with CPCB</option>
        </select>

        <label for="state">State:</label>
        <select id="state" name="state">
          <option value="">Select State</option>
          <option value="AN">Andaman and Nicobar Islands (AN)</option>
          <option value="AP">Andhra Pradesh (AP)</option>
          <option value="AR">Arunachal Pradesh (AR)</option>
          <option value="AS">Assam (AS)</option>
          <option value="BR">Bihar (BR)</option>
          <option value="CH">Chandigarh (CH)</option>
          <option value="CG">Chhattisgarh (CG)</option>
          <option value="DNH">Dadra and Nagar Haveli (DNH)</option>
          <option value="DD">Daman and Diu (DD)</option>
          <option value="DL">Delhi (DL)</option>
          <option value="GA">Goa (GA)</option>
          <option value="GJ">Gujarat (GJ)</option>
          <option value="HR">Haryana (HR)</option>
          <option value="HP">Himachal Pradesh (HP)</option>
          <option value="JK">Jammu and Kashmir (JK)</option>
          <option value="JH">Jharkhand (JH)</option>
          <option value="KA">Karnataka (KA)</option>
          <option value="KL">Kerala (KL)</option>
          <option value="LD">Lakshadweep (LD)</option>
          <option value="MP">Madhya Pradesh (MP)</option>
          <option value="MH">Maharashtra (MH)</option>
          <option value="MN">Manipur (MN)</option>
          <option value="ML">Meghalaya (ML)</option>
          <option value="MZ">Mizoram (MZ)</option>
          <option value="NL">Nagaland (NL)</option>
          <option value="OR">Odisha (OR)</option>
          <option value="PY">Puducherry (PY)</option>
          <option value="PB">Punjab (PB)</option>
          <option value="RJ">Rajasthan (RJ)</option>
          <option value="SK">Sikkim (SK)</option>
          <option value="TN">Tamil Nadu (TN)</option>
          <option value="TS">Telangana (TS)</option>
          <option value="TR">Tripura (TR)</option>
          <option value="UP">Uttar Pradesh (UP)</option>
          <option value="UK">Uttarakhand (UK)</option>
          <option value="WB">West Bengal (WB)</option>
        </select>
      
        <label for="address">Address:</label>
        <input type="text" id="address" name="address">
      </div>

      <!-- Additional fields for Admin option -->
      <div id="adminFieldsContainer" class="hidden">
        <label for="department">Department:</label>
        <input type="text" id="department" name="department">

        <label for="employeeId">Bisleri Employee ID:</label>
        <input type="text" id="employeeId" name="employeeId">
      </div>

      <div id="puzzle-container">
        <label for="puzzle-answer">Verify you are human:</label>
        <span id="puzzle-calculation"></span>
        <input type="number" id="puzzle-answer" name="puzzle-answer" required>
      </div>

      <input type="submit" value="Register">
    </form>
  </div>

  <div class="foot-container">
    <h3>Already have an account?</h3>
    <input id="loginButton" type="submit" value="Login">
  </div>
  <script src="registration.js"></script>
</body>
</html>